<!DOCTYPE html>
<html lang="es"">
<head th:fragment="head">
    <meta charset="UTF-8">

   
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


    <!-- CSS Personalizado 
    <link rel="stylesheet" th:href="@{/bootstrap/css/fuente.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/styles.css}">-->
</head>

<body class="layout-body">
<div class="container-fluid">
    <div class="row flex-nowrap">

        <!-- barra lateral-->

        <nav  class="col-lg-2 col-md-3 sidebar d-flex flex-column min-vh-100">

            <div class="p-3 flex-grow-1">

                <h5 class="text-black mb-4">Menu Principal</h5>
               
                <hr class="text-white">
                <ul class="nav flex-column">

                    <li  class="nav-item">
                        <a class="nav-link" id="br-inicio" href:="">
                            🏠 Inicio
                        </a>
                    </li>

                    <li >
                        <a class="nav-link" id="br-operaciones" href="">
                            💻  Tareas

                        </a>
                    </li>
                   

                    <li  class="nav-item">
                        <a class="nav-link" id="br-contabilidad" href="">
                            📊 Proyecto Final
                        </a>
                    </li>

                

                </ul>

                <hr class="text-white">

                <div class="p-3 flex-grow-1">
                    <img src=""
                         alt="Logo SICA"
                         class="img-fluid logo">
                    </div>
            
                <div class="mt-4">
                    <a class="btn btn-light w-100 mb-2" href="">Perfil</a>

                   
                </div>

            </div>

        </nav>


        <main class="col p-0 content-area d-flex flex-column">



            <!-- FOOTER -->
            <footer  class="footer-custom py-3">
                <div class="container">

                    <div class="d-flex justify-content-between align-items-center">

                        <p class="mb-0 text-white">Analisís de datos con Python y AWS</p>

                       

                    </div>

                </div>
            </footer>
        </main>

    </div>
</div>
<script>
    //escucha los botones dde la barra lateral
document.addEventListener("click", (e) => {
    const element = e.target.closest(".nav-link");

    if (element) {
        guardarLocalStorage(element.id);
    }

});
//escucha los botones de las targetas
document.addEventListener("click", (e) => {
    const element = e.target.closest(".btn-card-registro");

    if (element) {
        guardarLocalStorageb(element.id);
    }

});
//escucha los botones de la barra supetrior
document.addEventListener("click", (e) => {
    const element = e.target.closest(".contenedor-inicio-con-barra-elem");

    if (element) {
        guardarLocalStorageb(element.id);
    }

});

document.addEventListener("DOMContentLoaded", function() {

//alert('refresh');
let idBoton=localStorage.getItem('BotonLateralPresionado');
let idBotonTarjeta=localStorage.getItem('BotonTarjetaPresionado');

if(idBoton!=null){
 const element = document.getElementById(idBoton);
 element.classList.remove('nav-link');
 element.classList.add('clicado');
  const li= element.closest("li");
  li.classList.add('clicadoli');
}
if(idBotonTarjeta!=null){
 const elemento = document.getElementById(idBotonTarjeta);
  elemento.classList.remove('contenedor-inicio-con-barra-elem');
 elemento.classList.add('clicado');
  const li= elemento.closest("li");
  li.classList.add('clicadoli');
}

 });

//la siguiente funcion no se usa borrala
//funcion para determinar que boton de la barra lateral se presiono
function identificarBoton(idBoton){

switch (idBoton) {
    case 'br-inicio':
      guardarLocalStorage('br-inicio');
        break;
    case 'br-contabilidad':
        guardarLocalStorage('br-contabilidad');
          break;
      case 'br-operaciones':
          guardarLocalStorage('br-operaciones');
          break;
       

}
 }
//funcion para guardar el valor en el local storage
function guardarLocalStorage(idBoton){
localStorage.setItem('BotonLateralPresionado',idBoton)

}
//guarda el valor de la barra superior y las tarjetas
function guardarLocalStorageb(idBoton){
localStorage.setItem('BotonTarjetaPresionado',idBoton)

}

//funcion para borras el valor en el local storage
function borrarLocalStorage(){
localStorage.removeItem('BotonLateralPresionado');

}

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
